body {
    background-image: url('images/ck1.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .clock {
    font-size: 6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #020000;
    text-align: center;
    margin-top: 40vh;
    margin-bottom: 60vh;
    padding: 1%;
    margin-left: 20vh;
    margin-right: 20vh;
  }
  